<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/styles/home.css">

    <style>

    </style>
</head>

<body>
    <header>
        <div class="nav-con">
            <div class="main-nav">
                <a href="/"><span class="logo">Amber</span></a>
                <a href="/"><span>Home</span></a>
                <a href=""><span>About</span></a>
                <a href=""><span>Students</span></a>
                <a href=""><span>Lunch</span></a>
            </div>
            <div class="register">
                <a href="">Login</a>
                <a class="signUp" href="">Sign Up</a>

            </div>
        </div>
    </header>
    <%- body %>
        <footer>
            <div class="contact">
                <img src="images/logo.png" alt="">
                <span><i class="fas fa-map"></i>123 havendale cresent</span>
                <span><i class="fas fa-envelope"></i>Morgana@gmail.com</span>
                <span><i class="fas fa-phone"></i>(876) 842-7815</span>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fas fa-envelope"></i>
            </div>

            <div class="links">
                <h2>Useful links</h2>
                <span><i class="fas fa-caret-right"></i>Excel Spreadsheet</span>
                <span><i class="fas fa-caret-right"></i>Management</span>
                <span><i class="fas fa-caret-right"></i>Charts</span>
                <span><i class="fas fa-caret-right"></i>Client User Account</span>
                <span><i class="fas fa-caret-right"></i>Our support Forum</span>
                <span><i class="fas fa-caret-right"></i>Our Help Center</span>
            </div>
            <div class="services">
                <h2>Services</h2>
                <span><i class="fas fa-caret-right"></i>Fast Access</span>
                <span><i class="fas fa-caret-right"></i>Operation Theater</span>
                <span><i class="fas fa-caret-right"></i>Project Checkup</span>
                <span><i class="fas fa-caret-right"></i>Sorting</span>
                <span><i class="fas fa-caret-right"></i>Our support Forum</span>
                <span><i class="fas fa-caret-right"></i>filter Service</span>
            </div>
            <div class="news">
                <h2>Latest news</h2>
                <div class="content">
                    <div class="img">
                        <img src="https://img.etimg.com/thumb/msid-80495055,width-640,resizemode-4,imgsize-656841/new-menu.jpg"
                            alt="">
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                        <span>25 feb 2021</span>
                    </div>
                </div>
                <div class="content">
                    <div class="img">
                        <img src="https://previews.123rf.com/images/limonzest/limonzest1205/limonzest120500307/13659627-canteen-serving-tray-healthy-fresh-salad-cafeteria-lunch-food-self-service.jpg"
                            alt="">
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                        <span>25 feb 2021</span>
                    </div>
                </div>
                <div class="content">
                    <div class="img">
                        <img src="https://media.istockphoto.com/photos/lunch-service-station-picture-id177392719?k=20&m=177392719&s=612x612&w=0&h=8LGNcbZVRU8Y1NKWaR5Zp_bW0HSvvNlV5YhpQVKT18s="
                            alt="">
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                        <span>25 feb 2021</span>
                    </div>
                </div>


            </div>
        </footer>
        <div class="copy">
            <label for="">©Copyright 2021 | all rights reserved</label>
        </div>
</body>

</html>