<form action="">
  <input type="text" value="<%= order.Starch%>" />
  <input type="text" value="<%= order.Meat%>" />
  <input type="text" value="<%= order.Side%>" />
  <input type="text" value="<%= order.Juice%>" />
  <input type="submit" value="EDIT" />
</form>
