<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Table</title>
    <link rel="stylesheet" href="/styles/orders.css" />
  </head>

  <body>
    <div class="orderpage">
      <div class="text">
        <h1>See Your Lunch Orders</h1>
        <p>Please Select a Date To view your order</p>
        <form action="/orders/lunchorders" method="post">
          <input type="date" placeholder="select a date" name="date" />
          <div class="btn">
            <button type="submit" class="sub-btn" value="View Orders">
              View Orders
            </button>
          </div>
        </form>
      </div>

      <div class="orderTable">
        <div class="calendar"></div>
      </div>
    </div>
    <script src="/scripts/calender.js"></script>
  </body>
</html>
