* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header .nav-con {
    display: flex;
    padding: 15px;
    line-height: 35px;
    background-color: rgb(252, 252, 252);
    height: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

header .nav-con .register a {
    margin-right: 1.1rem;
}


header .nav-con .register .signUp {
    margin-right: 1.1rem;
    padding: 10px;
    border: 1px solid rgb(251, 56, 2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(251, 56, 2);


}


header .nav-con .logo {
    padding-right: 4rem;
    margin-left: 6rem;
    color: rgb(251, 56, 2);
    font-size: 18px;
}

header .nav-con .main-nav a .logo {
    color: rgb(251, 56, 2);
    font-size: 20px;
}

header .nav-con .main-nav {
    margin-right: 38rem;
}

header .nav-con .main-nav a span {
    margin-right: 1.1rem;
    color: black;
}

section .hero {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.hero .text {
    width: 20rem;


}

.hero .text h2 {
    font-size: 40px;

}

.hero .text p {
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 6rem;

}


.hero .text a {
    border: 1px solid rgb(251, 56, 2);
    color: rgb(251, 56, 2);
    padding: 10px;
    margin-right: 1.1rem;
    border-radius: .4rem;
    font-size: 18px;
}

.hero .text .view {
    background-color: rgb(251, 56, 2);
    color: white;
    padding: 10px;
}

footer {
    /* margin-top: 2rem; */
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    background-color: rgb(252, 252, 252);

}


.contact i {
    color: rgb(251, 56, 2);
    padding-right: .8rem;
}

.contact span {
    display: block;
    /* color: white; */
    padding-bottom: 1.3rem;
}

.contact span i {
    padding-right: .8rem;
    /* color: white; */
}

.links h2 {
    /* color: white; */
    margin-bottom: 2rem;
}

.links span {
    display: block;
    /* color: white; */
    padding-bottom: 1.3rem;
}

.links span i {
    padding-right: .6rem;
    color: rgb(251, 56, 2);

}

.services h2 {
    /* color: white; */
    margin-bottom: 2rem;
}

.services span {
    display: block;
    /* color: white; */
    padding-bottom: 1.3rem;
}

.services span i {
    padding-right: .6rem;
    color: rgb(251, 56, 2);

}


.news h2 {
    /* color: white; */
    margin-bottom: 2rem;
}

.news p {
    /* color: white; */
}

.news span {
    color: rgb(251, 56, 2);
}

.news .content {
    display: flex;
    margin-bottom: 2rem;
}

.news .img img {
    width: 8rem;
}

.news .content .text {
    margin-left: 1.1rem;
    width: 10rem;
}


.copy {
    display: flex;
    justify-content: center;
    background-color: rgb(251, 56, 2);
    ;
}

.copy label {
    padding: 5px;
    /* color: #fff; */

}