* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

header .nav-con {
  display: flex;
  padding: 15px;
  line-height: 35px;
  background-color: rgb(252, 252, 252);
  height: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
}

header .nav-con .register a {
  margin-right: 1.1rem;
}

header .nav-con .register .signUp {
  margin-right: 1.1rem;
  padding: 10px;
  border: 1px solid rgb(251, 56, 2);
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(251, 56, 2);
}

header .nav-con .logo {
  padding-right: 4rem;
  margin-left: 6rem;
  color: rgb(251, 56, 2);
  font-size: 18px;
}

header .nav-con .main-nav a .logo {
  color: rgb(251, 56, 2);
  font-size: 20px;
}

header .nav-con .main-nav {
  margin-right: 28rem;
}

header .nav-con .main-nav a span {
  margin-right: 1.1rem;
  color: black;
}

section .background {
  position: relative;
  background-image: url("/images/canteen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 32rem;
  /* width: 80rem; */
  /* margin-left: 6rem; */
  margin: 0 auto;
  /* top: -6.5rem; */
}

section .background h1 {
  color: #fff;
  font-size: 4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 40rem;
  padding-left: 5rem;
  padding-top: 5rem;
}

section .background p {
  color: #fff;
  font-size: 2rem;
  font-family: "Ms Madi", cursive;
  width: 30rem;
  padding-left: 5rem;
}

section .background .btn-con {
  display: flex;
  justify-content: center;
}

section .background button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  margin-left: 2rem;
  width: 12rem;
  color: #fff;
}

footer {
  /* margin-top: 2rem; */
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  background-color: rgb(252, 252, 252);
}

.contact i {
  color: rgb(251, 56, 2);
  padding-right: 0.8rem;
}

.contact span {
  display: block;
  /* color: white; */
  padding-bottom: 1.3rem;
}

.contact span i {
  padding-right: 0.8rem;
  /* color: white; */
}

.links h2 {
  /* color: white; */
  margin-bottom: 2rem;
}

.links span {
  display: block;
  /* color: white; */
  padding-bottom: 1.3rem;
}

.links span i {
  padding-right: 0.6rem;
  color: rgb(251, 56, 2);
}

.services h2 {
  /* color: white; */
  margin-bottom: 2rem;
}

.services span {
  display: block;
  /* color: white; */
  padding-bottom: 1.3rem;
}

.services span i {
  padding-right: 0.6rem;
  color: rgb(251, 56, 2);
}

.news h2 {
  /* color: white; */
  margin-bottom: 2rem;
}

.news p {
  color: black;
}

.news span {
  color: rgb(251, 56, 2);
}

.news .content {
  display: flex;
  margin-bottom: 2rem;
}

.news .img img {
  width: 8rem;
}

.news .content .text {
  margin-left: 1.1rem;
  width: 10rem;
}

.copy {
  display: flex;
  justify-content: center;
  background-color: rgb(251, 56, 2);
}

.copy label {
  padding: 5px;
  /* color: #fff; */
}
